@model CRM.Areas.Admin.Models.Job

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_layotAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Job</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.JobID)



        <div class="form-group">
            <p class="control-label col-md-2">نوع کار</p>
            <div class="col-md-10">
                @Html.DropDownList("OrderTypeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrderTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">مسئول انجام</p>
            <div class="col-md-10">
                @Html.DropDownList("AgentID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AgentID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">تاریخ شروع</p>
            <div class="col-md-10">
                <input type="text" id="dtorder" name="dtorder" />
                @Html.ValidationMessageFor(model => model.StartJobDateStr, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <p class="control-label col-md-2">تاریخ پایان</p>
            <div class="col-md-10">
                <input type="text" id="dateStart" name="dateStart" />
                @Html.ValidationMessageFor(model => model.FinishJobDateStr, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")


    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/adapters/jquery.js"></script>


    <link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2013.2.918/styles/kendo.default.min.css" rel="stylesheet" />
    <script src="~/Scripts/kendo.all.min.js"></script>



    <script>
        $(function () {

            $("#dtorder").kendoDatePicker();
            $("#dateStart").kendoDatePicker();
            $("#guessdateEnd").kendoDatePicker();


        });
    </script>

}
<div>
    <a href="/Admin/MngJobs/Index/@Model.ProcessID" class="tooltip-success" data-rel="tooltip" title="بازگشت">
        <span class="green">
            بازگشت
        </span>
    </a>
</div>
