@model IEnumerable<CRM.Areas.Admin.Models.Job>

@{
    ViewBag.Title = "ShowRep";
    Layout = "~/Areas/Admin/Views/Shared/_layotAdmin.cshtml";
}
<head>
    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>

    @*<script src="~/assets/js/jquery-2.1.4.min.js"></script>*@


    <script src="~/assets/js/ace-extra.min.js"></script>

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/font-awesome/4.5.0/css/font-awesome.min.css" />


    <link rel="stylesheet" href="~/assets/css/fonts.googleapis.com.css" />

    <link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />


    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />


    <script>

        $(document).ready(function () {

            $('#txtCustomer').autocomplete(
                {
                    source: '@Url.Action("GetAutoComplete", "MngProcesses")'
                });
        })

    </script>
</head>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <form class="form-horizontal" role="form">


            @*@Session["ProcessIDlast"]*@

            <div class="clearfix form-actions">



                <div class="btn-group">
                    <p>


                       



                        <input type="button" class="btn btn-success"
                               value="طراحی"
                               onclick="location.href = '@Url.Action("ShowRep", "MngJobs")?id=' + 1 " />

                        <input type="button" class="btn btn-success"
                               value="قالب سازی"
                               onclick="location.href = '@Url.Action("ShowRep", "MngJobs")?id=' + 13 " />

                        <input type="button" class="btn btn-success"
                               value="لیتو گرافی"
                               onclick="location.href = '@Url.Action("ShowRep", "MngJobs")?id=' + 2 " />
                       


                    </p>
                    <p>
                        <input type="button" class="btn btn-success"
                               value="کاغذ فروش"
                               onclick="location.href = '@Url.Action("ShowRep", "MngJobs")?id=' + 3 " />

                        <input type="button" class="btn btn-success"
                               value="چاپخانه"
                               onclick="location.href = '@Url.Action("ShowRep", "MngJobs")?id=' + 4 " />

                        <input type="button" class="btn btn-success"
                               value="یو وی"
                               onclick="location.href = '@Url.Action("ShowRep", "MngJobs")?id=' + 5 " />

                        <input type="button" class="btn btn-success"
                               value="سلفون"
                               onclick="location.href = '@Url.Action("ShowRep", "MngJobs")?id=' + 6 " />

                    </p>
                    <p>
                        <input type="button" class="btn btn-success"
                               value="لتر و چسب"
                               onclick="location.href = '@Url.Action("ShowRep", "MngJobs")?id=' + 7" />
                        <input type="button" class="btn btn-success"
                               value="کارتن سازی"
                               onclick="location.href = '@Url.Action("ShowRep", "MngJobs")?id=' + 8" />
                        <input type="button" class="btn btn-success"
                               value="کارگاه الارد"
                               onclick="location.href = '@Url.Action("ShowRep", "MngJobs")?id=' + 9" />

                 
                    </p>



                    <p>
                        <input type="button" class="btn btn-success"
                               value="فرم عمومی"
                               onclick="location.href = '@Url.Action("ShowRep", "MngJobs")?id=' + 10" />
                        <input type="button" class="btn btn-success"
                               value="ارسال"
                               onclick="location.href = '@Url.Action("ShowRep", "MngJobs")?id=' + 11" />
                        <input type="button" class="btn btn-success"
                               value="فاکتور"
                               onclick="location.href = '@Url.Action("ShowRep", "MngJobs")?id=' + 12" />
                        <input type="button" class="btn btn-success"
                               value="متفرقه"
                               onclick="location.href = '@Url.Action("ShowRep", "MngJobs")?id=' + 14" />
                      
                    </p>



                </div><!-- /.btn-group -->
                @*<div class="form-group">
                        <label class="col-sm-3 control-label"> از تاریخ </label>
                        <div class="col-sm-9">
                            <input id="AzTarikh" name="AzTarikh" style="width:150px;" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label"> تا تاریخ </label>
                        <div class="col-sm-9">
                            <input id="TaTarikh" name="TaTarikh" style="width:150px;" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label"> نام مشتری </label>

                        <div class="col-sm-9">
                            <input type="text" id="txtCustomer" name="txtCustomer" placeholder=" نام مشتری " class="col-xs-10 col-sm-5" />


                        </div>


                    </div>



                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit" name="send" value="Send" id="btnSend">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            جستجو
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            پاک
                        </button>
                    </div>*@
            </div>


        </form>


    </div>


}



<div class="row">



    <div class="col-xs-12">
        <table id="simple-table" class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center">
                        شماره سفارش
                    </th>
                    <th class="detail-col">تاریخ </th>
                    <th>عنوان کار</th>


                    <th class="hidden-480">سفارش دهنده نام کار</th>






                </tr>
            </thead>



            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            <div class="col-sm-3 control-label no-padding-right">@Html.DisplayFor(modelItem => item.ProcessID)</div>
                            <a href="#" class="green bigger-140 show-details-btn" title="Show Details">

                                <i class="ace-icon fa fa-angle-double-down"></i>

                            </a>
                        </td>
                        <td class="center">
                            @Html.DisplayFor(modelItem => item.StartJobDateStr)
                        </td>
                        <td class="center">
                            @Html.DisplayFor(modelItem => item.OrderType.Title)
                        </td>
                        @*<td class="center">

                            </td>*@


                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName) |
                            @Html.DisplayFor(modelItem => item.Title)

                            @{
                                int MyId = item.Status;
                                if (MyId == 1)
                                {

                                    <span class="label label-info arrowed-in-right arrowed">ارجاع</span>

                                }
                                if (MyId == 2)
                                {


                                    <span class="label label-info label-yellow arrowed-in-right arrowed">دریافت</span>

                                }
                                if (MyId == 3)
                                {

                                    <span class="label label-info label-warning arrowed-in-right arrowed">انجام</span>


                                }
                                if (MyId == 4)

                                {

                                    <span class="label label-success arrowed">پایان کار</span>

                                }

                            }
                        </td>


                    </tr>



                    <tr class="detail-row">
                        <td colspan="8">
                            <div class="table-detail">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-2">
                                        <div class="text-center">

                                            <br />
                                            <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                                <div class="inline position-relative">
                                                    <a class="user-title-label" href="#">
                                                        <i class="ace-icon fa fa-circle light-green"></i>
                                                        &nbsp;
                                                        <span class="white"> @Html.DisplayFor(modelItem => item.StartJobDateStr)</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-7">


                                        <div class="profile-user-info profile-user-info-striped">


                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> شماره سفارش </div>

                                                <div class="profile-info-value">
                                                    <span>@Html.DisplayFor(modelItem => item.ProcessID)</span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name"> نام مشتری </div>

                                                <div class="profile-info-value">
                                                    <i class="fa fa-map-marker light-orange bigger-110"></i>
                                                    <span>@Html.DisplayFor(modelItem => item.CustomerName)</span>
                                                </div>
                                            </div>




                                            <div class="profile-info-row">
                                                <div class="profile-info-name">دستور کار </div>

                                                <div class="profile-info-value">
                                                    <span> @Html.DisplayFor(modelItem => item.Description)</span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name">توضیحات کارشناس </div>

                                                <div class="profile-info-value">
                                                    <span> @Html.DisplayFor(modelItem => item.DescriptionExpert)</span>
                                                </div>
                                            </div>

                                        </div>


                                    </div>




                                </div>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>




        </table>

        <div class="main-content" hidden="hidden">
            <div class="main-content-inner">


                <div class="page-content">



                    <div class="row">
                        <div class="col-xs-12">



                            <div class="row">
                                <div class="col-xs-12">


                                    <!-- div.table-responsive -->
                                    <!-- div.dataTables_borderWrap -->
                                    <div>
                                        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="center">
                                                        <label class="pos-rel">
                                                            <input type="checkbox" class="ace" />
                                                            <span class="lbl"></span>
                                                        </label>
                                                    </th>
                                                    <th>تاریخ</th>
                                                    <th>سفارش دهنده</th>
                                                    <th>عنوان سفارش</th>


                                                    <th>
                                                        <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                                        نوع سفارش
                                                    </th>
                                                    <th class="hidden-480">Status</th>

                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>



                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->


    </div><!-- /.span -->
</div>



<script>
    $(document).ready(function () {


        $("#dateorder").kendoDatePickerShamsi({ culture: "fa-IR" });
        $("#dtstart").kendoDatePickerShamsi({ culture: "fa-IR" });
        $("#guessdateEnd").kendoDatePickerShamsi({ culture: "fa-IR" });
        $("#Starthour").kendoTimePicker();

    });
</script>




<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='~/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="~/assets/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->
<script src="~/assets/js/jquery.dataTables.min.js"></script>



<script src="~/assets/js/jquery.dataTables.bootstrap.min.js"></script>
<script src="~/assets/js/dataTables.buttons.min.js"></script>
<script src="~/assets/js/buttons.flash.min.js"></script>
<script src="~/assets/js/buttons.html5.min.js"></script>
<script src="~/assets/js/buttons.print.min.js"></script>
<script src="~/assets/js/buttons.colVis.min.js"></script>
<script src="~/assets/js/dataTables.select.min.js"></script>

<!-- ace scripts -->
<script src="~/assets/js/ace-elements.min.js"></script>
<script src="~/assets/js/ace.min.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var myTable =
            $('#dynamic-table')
                //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                .DataTable({
                    bAutoWidth: false,
                    "aoColumns": [
                        { "bSortable": false },
                        null, null, null, null, null,
                        { "bSortable": false }
                    ],
                    "aaSorting": [],


                    //"bProcessing": true,
                    //"bServerSide": true,
                    //"sAjaxSource": "http://127.0.0.1/table.php"	,

                    //,
                    //"sScrollY": "200px",
                    //"bPaginate": false,

                    //"sScrollX": "100%",
                    //"sScrollXInner": "120%",
                    //"bScrollCollapse": true,
                    //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
                    //you may want to wrap the table inside a "div.dataTables_borderWrap" element

                    //"iDisplayLength": 50


                    select: {
                        style: 'multi'
                    }
                });



        $.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

        new $.fn.dataTable.Buttons(myTable, {
            buttons: [
                {
                    "extend": "colvis",
                    "text": "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>Show/hide columns</span>",
                    "className": "btn btn-white btn-primary btn-bold",
                    columns: ':not(:first):not(:last)'
                },
                {
                    "extend": "copy",
                    "text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                },
                {
                    "extend": "csv",
                    "text": "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>Export to CSV</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                },
                {
                    "extend": "excel",
                    "text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                },
                {
                    "extend": "pdf",
                    "text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
                    "className": "btn btn-white btn-primary btn-bold"
                },
                {
                    "extend": "print",
                    "text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
                    "className": "btn btn-white btn-primary btn-bold",
                    autoPrint: false,
                    message: 'This print was produced using the Print button for DataTables'
                }
            ]
        });
        myTable.buttons().container().appendTo($('.tableTools-container'));

        //style the message box
        var defaultCopyAction = myTable.button(1).action();
        myTable.button(1).action(function (e, dt, button, config) {
            defaultCopyAction(e, dt, button, config);
            $('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
        });


        var defaultColvisAction = myTable.button(0).action();
        myTable.button(0).action(function (e, dt, button, config) {

            defaultColvisAction(e, dt, button, config);


            if ($('.dt-button-collection > .dropdown-menu').length == 0) {
                $('.dt-button-collection')
                    .wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
                    .find('a').attr('href', '#').wrap("<li />")
            }
            $('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
        });

        ////

        setTimeout(function () {
            $($('.tableTools-container')).find('a.dt-button').each(function () {
                var div = $(this).find(' > div').first();
                if (div.length == 1) div.tooltip({ container: 'body', title: div.parent().text() });
                else $(this).tooltip({ container: 'body', title: $(this).text() });
            });
        }, 500);





        myTable.on('select', function (e, dt, type, index) {
            if (type === 'row') {
                $(myTable.row(index).node()).find('input:checkbox').prop('checked', true);
            }
        });
        myTable.on('deselect', function (e, dt, type, index) {
            if (type === 'row') {
                $(myTable.row(index).node()).find('input:checkbox').prop('checked', false);
            }
        });




        /////////////////////////////////
        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#dynamic-table > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $('#dynamic-table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) myTable.row(row).select();
                else myTable.row(row).deselect();
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (this.checked) myTable.row(row).deselect();
            else myTable.row(row).select();
        });



        $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });



        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#simple-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if ($row.is('.detail-row ')) return;
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });



        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }




        /***************/
        $('.show-details-btn').on('click', function (e) {
            e.preventDefault();
            $(this).closest('tr').next().toggleClass('open');
            $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
        });
        /***************/







    })
</script>