<!doctype html>
<html class="no-js" dir="rtl" lang="Fa_IR">

<head>
    <meta charset="utf-8">
    <title>@ViewBag.TitlesP</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="canonical" href="https://padidehbags.com/@ViewBag.titleurladress">


    <meta content="@ViewBag.keywords" name="keywords">
    <meta content="@ViewBag.description" name="description">
    <meta name="format-detection" content="telephone=yes">

    <meta property="og:type" content="@ViewBag.description">
    <meta property="og:title" content="@ViewBag.TitlesP" />
    <meta property="og:description" content="@ViewBag.description" />
    <meta property="og:locale" content="fa_IR" />
    <meta property="og:site_name" content="پدیده بگ ساک خرید کاغذی آماده" />

    <meta property="og:image" content="https://padidehbags.com/img/@ViewBag.MainPicture" />
    <meta property="og:url" content="https://padidehbags.com/@ViewBag.titleurladress" />
    <meta property="og:image:secure_url" content="https://padidehbags.com/img/@ViewBag.MainPicture" />
    <meta property="og:image:alt" content="@ViewBag.keywords" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />



    <meta name="twitter:card" content="https://padidehbags.com/img/@ViewBag.MainPicture" />
    <meta name="twitter:site" content="@ViewBag.TitlesP" />
    <meta name="twitter:title" content="@ViewBag.TitlesP" />
    <meta name="twitter:description" content="@ViewBag.description" />
    <meta name="twitter:image" content="https://padidehbags.com/img/@ViewBag.MainPicture" />



    <link rel="apple-touch-icon" href="https://padidehbags.com/appleIcon.png">
    <!-- Favicon -->
    <link href="~/favicon.ico" rel="icon">

    <!-- Place favicon.ico in the root directory -->

    <link href="../assets/font/bootstrap-icon/bootstrap-icons.min.css" rel="stylesheet">
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/js/plugin/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="../assets/js/plugin/rasta-contact/style.css" rel="stylesheet">

    <link href="../assets/css/main.css" rel="stylesheet">
    <link href="../assets/css/responsive.css" rel="stylesheet">



    <meta content="#f4f5f9" name="theme-color">

    <script type="application/ld+json">
        {
         "@@context": "https://schema.org",
         "@@type": "BreadcrumbList",
         "itemListElement":
         [
          {
           "@@type": "ListItem",
           "position": 1,
           "item":
           {
            "@@id": "https://padidehbags.com/ShoppingBag",
            "name": "ShoppingBag"
            }
          },
          {
           "@@type" :"ListItem",
          "position": 2,
          "item":
           {
             "@@id": "https://padidehbags.com/@ViewBag.Branchstr ",
             "name": "Ready ShoppingBag"
           }
          }
         ]
        }
    </script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WH9FC5V9');</script>
    <!-- End Google Tag Manager -->


</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WH9FC5V9"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- start header -->
    <header>
        <div class="container-fluid">
            <div class="row align-items-center">

                <div class="col-lg-3 col-sm-4 col-6 order-lg-1 order-3">
                    <div class="header-cart d-flex align-items-center">
                        <div class="header-cart-icon">


                            <!-- start mini cart -->
                            <div class="min-cart">

                            </div>
                            <!-- end mini cart -->
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-4 d-sm-block d-none order-lg-2 order-2">
                    <div class="header-top-menu">
                        <div class="header-logo">
                            <a href="..">
                                <img alt="ساک خرید آماده کاغذی فروشگاهی,ساک خرید فروشگاهی آماده کاغذی,جعبه تبلیغاتی,تولید ساک دستی کاغذی" src="../assets/img/logo.png">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 order-3 d-lg-block d-none">
                    <div class="header-search">
                        <form action="">
                            <input class="header-search-txt" placeholder="جستجوی انواع ساک خرید آماده کاغذی" type="text">
                        </form>
                    </div>
                </div>

                <div class="col-sm-4 col-6 order-lg-5 order-1">

                    <div class="responsive-menu d-lg-none d-block">
                        <div class="d-flex align-items-center">

                            <button aria-controls="responsive menu" class="btn border-0 p-3 ps-0 btn-responsive-menu"
                                    data-bs-target="#responsiveMenu"
                                    data-bs-toggle="offcanvas" type="button">
                                <svg class="bi bi-list" fill="currentColor" height="32" viewBox="0 0 16 16"
                                     width="32" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                                          fill-rule="evenodd" />
                                </svg>
                            </button>
                            <div class="header-logo d-sm-none d-flex">
                                <a href="https://padidehbags.com">
                                    <img alt="پدیده بگ,تولید ساک خرید آماده ,ساک خرید فروشگاهی آماده کاغذی" src="../assets/img/logo.png">
                                </a>
                            </div>
                        </div>
                        <div aria-labelledby="responsive menu" class="offcanvas offcanvas-start" id="responsiveMenu"
                             tabindex="-1">
                            <div class="offcanvas-header">
                                <p class="offcanvas-title" id="offcanvasRightLabel">پدیده بگ</p>
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas"
                                        type="button"></button>
                            </div>
                            <div class="offcanvas-body d-flex flex-column">
                                <a class="text-center d-block mb-3" href="https://padidehbags.com">
                                    <img alt="ساک خرید کاغذی فروشگاهی آماده,ساک خرید آماده" class="img-fluid" src="../assets/img/logo.png" width="200">
                                </a>

                                <ul class="rm-item-menu navbar-nav">
                                    <li class="nav-item bg-ul-f7">
                                        <a class="nav-link" href="..">
                                            <b>صفحه اصلی</b>

                                        </a>
                                    </li>


                                    <li class="nav-item bg-ul-f7">
                                        <a class="nav-link" href="../Exclusive-Shopping-Bag"><b>ساک خرید کاغذی اختصاصی</b></a>
                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                        <ul class="navbar-nav h-0">

                                            <li class="nav-item">
                                                <a class="nav-link" href="../Glossy-Shopping-Bag">ساک دستی گلاسه</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link" href="../Kraft-Shopping-Bag">ساک دستی کاغذی کرافت</a></li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="../Card-Shopping-Bag">ساک دستی کاغذی کارتی</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="../Shopping-Bag-Strap">بند ساک دستی</a>
                                            </li>









                                        </ul>
                                    </li>
                                    <li class="nav-item bg-ul-f7">
                                        <a class="nav-link" href="../Ready-Shopping-Bag"><b>ساک خرید کاغذی آماده</b></a>
                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                        <ul class="navbar-nav h-0">

                                            <li class="nav-item">
                                                <a class="nav-link" href="../Ready-Paper-Shopping-Bag">ساک دستی آماده</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link" href="../Ready-Glossy-Shopping-Bag">ساک دستی گلاسه آماده</a></li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="../Ready-Kraft-Shopping-Bag">ساک دستی کاغذی آماده</a>
                                            </li>

                                        </ul>
                                    </li>

                                    <li class="nav-item bg-ul-f7">
                                        <a class="nav-link" href="../Fabric-Shopping-Bag"><b>ساک پارچه ای اختصاصی</b></a>
                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                        <ul class="navbar-nav h-0">

                                            <li class="nav-item">
                                                <a class="nav-link" href="../Pressed-Fabric-Bag">ساک پارچه ای پرسی</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link" href="../Sewn-Shopping-Bag">ساک پارچه ای دوختی</a></li>

                                        </ul>
                                    </li>
                                    <li class="nav-item bg-ul-f7">
                                        <a class="nav-link" href="../Promotional-Nylon">
                                            <b> ساک خرید نایلونی</b>
                                        </a>
                                    </li>
                                    <li class="nav-item bg-ul-f7">
                                        <a class="nav-link" href="../Customized-Box"><b>جعبه</b></a>
                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                        <ul class="navbar-nav h-0">

                                            <li class="nav-item">
                                                <a class="nav-link" href="../Customized-Box">جعبه اختصاصی</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="../Ready-Box">جعبه آماده</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link" href="../Hard-Box">هارد باکس</a></li>
                                            <li class="nav-item"><a class="nav-link" href="../ساک-خرید-طلا-فروشی">پک طلا و جواهر</a></li>
                                        </ul>
                                    </li>


                                    <li class="nav-item bg-ul-f7">
                                        <a class="nav-link" href="../Office-Set"><b>ست اداری</b></a>
                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                        <ul class="navbar-nav h-0">

                                            <li class="nav-item">
                                                <a class="nav-link" href="../Letter-Pocket">پاکت نامه</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="../Postal-Envelope">پاکت پستی</a>
                                            </li>

                                            <li class="nav-item"><a class="nav-link" href="../Folder">فولدر</a></li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="../Visit-Card">کارت ویزیت</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="../Thanks-Card">کارت تشکر</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" href="../Hanging-Card">کارت آویز</a>
                                            </li>
                                            <li class="nav-item"><a class="nav-link" href="../Tract">تراکت و بروشور</a></li>

                                            <li class="nav-item">
                                                <a class="nav-link" href="../Hologram">هولوگرام</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" href="../Ribbon">چاپ روی روبان</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="../Cloth-Brand">مارک لباس</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="../Logo-Design">طراحی لوگو</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="../Packaging-Paper">کاغذ بسته بندی و لیبل</a>
                                            </li>

                                        </ul>
                                    </li>




                                    <li class="nav-item bg-ul-f7">
                                        <a class="nav-link" href="../Catalog">
                                            <b>دانلود کاتالوگ</b>
                                        </a>
                                    </li>

                                    <li class="nav-item bg-ul-f7">
                                        <a class="nav-link" href="../ContactUs"><b>ارتباط با پدیده بگ</b></a>
                                        <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                        <ul class="navbar-nav h-0">
                                            <li class="nav-item">
                                                <a class="nav-link" href="../ContactUs">تماس با ما</a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" href="../AboutUs">درباره ما</a>
                                            </li>

                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- start serach float -->
        <div class="search-float">
            <div class="container-fluid">
                <div class="search-float-close float-end pointer">
                    <i class="bi bi-x fs-1"></i>
                </div>
                <div class="search-float-form">
                    <form action="">
                        <input class="header-search-txt" placeholder="جستجوی محصولات ساک خرید کاغذی آماده" type="text">
                    </form>
                </div>

                <div class="search-float-tag">
                    <div class="search-float-tag-title d-flex align-items-center pt-4">
                        <i class="bi bi-tag me-3"></i>
                        <p>بیشترین جستجو های اخیر:</p>
                    </div>
                    <div class="search-float-tag-items">
                        <ul class="navbar-nav flex-row flex-wrap w-100">
                            <li class="nav-item"><a class="btn" href="../Exclusive-Shopping-Bag">#ساک دستی اختصاصی</a></li>
                            <li class="nav-item"><a class="btn" href="../Glossy-Shopping-Bag">#ساک دستی  آماده گلاسه</a></li>
                            <li class="nav-item"><a class="btn" href="../Kraft-Shopping-Bag">#ساک دستی آماده کاغذی کرافت</a></li>
                            <li class="nav-item"><a class="btn" href="../Card-Shopping-Bag">#ساک دستی آماده کاغذی کارتی</a></li>
                            <li class="nav-item"><a class="btn" href="../Fabric-Shopping-Bag">#ساک  خرید آماده پارچه ای</a></li>
                            <li class="nav-item"><a class="btn" href="../Pressed-Fabric-Bag">#ساک  خرید آماده پارچه ای پرسی</a></li>
                            <li class="nav-item"><a class="btn" href="../Sewn-Shopping-Bag">#ساک  خرید پارچه ای دوختی</a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- end search float -->
    </header>
    <!--<header>
        <div class="container-fluid">
            <div class="row align-items-center">

                <div class="col-lg-3 col-sm-4 col-6 order-lg-1 order-3">
                    <div class="header-cart d-flex align-items-center">
                        <div class="header-cart-icon">-->
    <!-- start mini cart -->
    <!--<div class="min-cart">

    </div>-->
    <!-- end mini cart -->
    <!--</div>

                </div>
            </div>

            <div class="col-lg-6 col-4 d-sm-block d-none order-lg-2 order-2">
                <div class="header-top-menu">
                    <div class="header-logo">
                        <a href="..">
                            <img alt="ساک خرید کاغذی دستی,جعبه تبلیغاتی,تولید شاپینگ بگ" src="../assets/img/logo.png">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 order-3 d-lg-block d-none">
                <div class="header-search">
                    <form action="">
                        <input class="header-search-txt" placeholder="جستجوی انواع ساک خرید کاغذی و شاپینگ بگ" type="text">
                    </form>
                </div>
            </div>

            <div class="col-sm-4 col-6 order-lg-5 order-1">

                <div class="responsive-menu d-lg-none d-block">
                    <div class="d-flex align-items-center">

                        <button aria-controls="responsive menu" class="btn border-0 p-3 ps-0 btn-responsive-menu"
                                data-bs-target="#responsiveMenu"
                                data-bs-toggle="offcanvas" type="button">
                            <svg class="bi bi-list" fill="currentColor" height="32" viewBox="0 0 16 16"
                                 width="32" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                                      fill-rule="evenodd" />
                            </svg>
                        </button>
                        <div class="header-logo d-sm-none d-flex">
                            <a href="https://padidehbags.com">
                                <img alt="پدیده بگ,تولید ساک خرید " src="../assets/img/logo.png">
                            </a>
                        </div>
                    </div>
                    <div aria-labelledby="responsive menu" class="offcanvas offcanvas-start" id="responsiveMenu"
                         tabindex="-1">
                        <div class="offcanvas-header">

                            <button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas"
                                    type="button"></button>
                        </div>
                        <div class="offcanvas-body d-flex flex-column">
                            <a class="text-center d-block mb-3" href="..">
                                <img alt="ساک خرید - شاپینگ بگ" class="img-fluid" src="../assets/img/logo.png" width="200">
                            </a>

                            <ul class="rm-item-menu navbar-nav">
                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="..">
                                        صفحه
                                        اصلی
                                    </a>
                                </li>


                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="../Exclusive-Shopping-Bag">ساک خرید کاغذی اختصاصی</a>
                                    <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                    <ul class="navbar-nav h-0">

                                        <li class="nav-item">
                                            <a class="nav-link" href="../Glossy-Shopping-Bag">ساک خرید کاغذی گلاسه</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="../Kraft-Shopping-Bag">ساک خرید کاغذی کرافت</a></li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="../Card-Shopping-Bag">ساک خرید کاغذی کارتی</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="../Shopping-Bag-Strap">بند ساک خرید کاغذی</a>
                                        </li>









                                    </ul>
                                </li>
                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="../Ready-Shopping-Bag">ساک خرید کاغذی آماده</a>
                                    <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                    <ul class="navbar-nav h-0">

                                        <li class="nav-item">
                                            <a class="nav-link" href="../Ready-Paper-Shopping-Bag">ساک خرید آماده</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="../Ready-Glossy-Shopping-Bag">ساک خرید گلاسه آماده</a></li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="../Ready-Kraft-Shopping-Bag">ساک خرید کاغذی آماده</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="../Ready-Box">جعبه آماده</a>
                                        </li>




                                    </ul>
                                </li>
                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="../Fabric-Shopping-Bag">ساک پارچه ای اختصاصی</a>
                                    <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                    <ul class="navbar-nav h-0">

                                        <li class="nav-item">
                                            <a class="nav-link" href="../Pressed-Fabric-Bag">ساک پارچه ای پرسی</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="../Sewn-Shopping-Bag">ساک پارچه ای دوختی</a></li>

                                    </ul>
                                </li>



                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="../Packaging-Paper">
                                        کاغذ بسته بندی و لیبل
                                    </a>
                                </li>


                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="../Promotional-Nylon">
                                        نایلون و نایلکس
                                    </a>
                                </li>

                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="../Postal-Envelope">
                                        پاکت پستی
                                    </a>
                                </li>
                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="../Ribbon">
                                        چاپ روی روبان
                                    </a>
                                </li>

                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="../Customized-Box">جعبه اختصاصی</a>
                                    <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                    <ul class="navbar-nav h-0">

                                        <li class="nav-item">
                                            <a class="nav-link" href="../Cardboard-Box">جعبه مقوایی</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="../Hard-Box">هارد باکس</a></li>

                                    </ul>
                                </li>



                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="../Office-Set">ست اداری</a>
                                    <span class="showSubMenu"><i class="bi bi-chevron-left"></i></span>
                                    <ul class="navbar-nav h-0">

                                        <li class="nav-item">
                                            <a class="nav-link" href="../Letter-Pocket">پاکت نامه</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="../Folder">فولدر</a></li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="../Visit-Card">کارت ویزیت</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="../Thanks-Card">کارت تشکر</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="../Hanging-Card">کارت آویز</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="../Tract">تراکت و بروشور</a></li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="../Catalog">کاتالوگ</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="../Hologram">هولوگرام</a>
                                        </li>

                                    </ul>
                                </li>


                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="../Logo-Design">
                                        طراحی لوگو
                                    </a>
                                </li>

                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="../ساک-خرید-طلا-فروشی">
                                        پک طلا و جواهر
                                    </a>
                                </li>


                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="../Blog">
                                        مجله پدیده
                                    </a>
                                </li>

                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="../Recruitments">
                                        اخذ نمایندگی و استخدام
                                    </a>
                                </li>
                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="../FAQ">
                                        سئوالات متداول
                                    </a>
                                </li>
                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="../AboutUs">
                                        درباره ما
                                    </a>
                                </li>
                                <li class="nav-item bg-ul-f7">
                                    <a class="nav-link" href="../ContactUs">
                                        تماس با ما
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- start serach float -->
    <!--<div class="search-float">
        <div class="container-fluid">
            <div class="search-float-close float-end pointer">
                <i class="bi bi-x fs-1"></i>
            </div>
            <div class="search-float-form">
                <form action="">
                    <input class="header-search-txt" placeholder="جستجوی محصولات از 300 برند" type="text">
                </form>
            </div>

            <div class="search-float-tag">
                <div class="search-float-tag-title d-flex align-items-center pt-4">
                    <i class="bi bi-tag me-3"></i>
                    <p>بیشترین جستجو های اخیر:</p>
                </div>
                <div class="search-float-tag-items">
                    <ul class="navbar-nav flex-row flex-wrap w-100">
                        <li class="nav-item"><a class="btn" href="../Exclusive-Shopping-Bag">#ساک خرید اختصاصی</a></li>
                        <li class="nav-item"><a class="btn" href="../Glossy-Shopping-Bag">#ساک خرید گلاسه</a></li>
                        <li class="nav-item"><a class="btn" href="../Kraft-Shopping-Bag">#ساک خرید کاغذی کرافت</a></li>
                        <li class="nav-item"><a class="btn" href="../Card-Shopping-Bag">#ساک خرید کاغذی کارتی</a></li>
                        <li class="nav-item"><a class="btn" href="../Fabric-Shopping-Bag">#ساک پارچه ای</a></li>
                        <li class="nav-item"><a class="btn" href="../Pressed-Fabric-Bag">#ساک پارچه ای پرسی</a></li>
                        <li class="nav-item"><a class="btn" href="../Sewn-Shopping-Bag">#ساک پارچه ای دوختی</a></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>-->
    <!-- end search float -->
    <!--</header>-->
    <!--end header-->
    <!-- start mega menu -->
    <div class="mega-menu mega-menu-top d-lg-block d-none">
        <div class="container-fluid position-relative">
            <div class="header-mega-menu">
                <div class="top-menu-menu">
                    <ul class="navbar-nav align-items-center">
                        <li class="position-relative m-0"></li>
                        <li class="nav-item">
                            <a class="nav-link header-top-menu-link-a fw-bold-hover " href="..">
                                صفحه اصلی
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link header-top-menu-link-a fw-bold-hover" href="../Exclusive-Shopping-Bag">
                                محصولات اختصاصی
                            </a>
                            <ul class="list-unstyled shadow-lg back-menu sub-menu mega-container"
                                style="background: #fff url('../assets/img/ساک-خرید-کاغذی-فروشگاهی.jpg') no-repeat;background-size: 300px !important;">
                                <li><a class="title" href="../Exclusive-Shopping-Bag"><b>ساک دستی اختصاصی</b></a></li>
                                <li><a href="../Glossy-Shopping-Bag">ساک دستی گلاسه</a></li>
                                <li><a href="../Kraft-Shopping-Bag">ساک دستی کاغذی کرافت</a></li>
                                <li><a href="../Card-Shopping-Bag">ساک دستی کاغذی کارتی </a></li>
                                <li><a href="../Shopping-Bag-Strap">بند ساک دستی</a></li>

                                <li>
                                    <a class="title" href="../Fabric-Shopping-Bag"><b>ساک پارچه ای</b> </a>
                                </li>
                                <li><a href="../Pressed-Fabric-Bag">ساک پارچه ای پرسی</a></li>
                                <li><a href="../Sewn-Shopping-Bag">ساک پارچه ای دوختی</a></li>
                                <li>
                                    <a class="title" href="../Promotional-Nylon"><b>ساک خرید نایلونی </b></a>
                                </li>
                                <li>
                                    <a class="title" href="../Exclusive-Box"><b>جعبه اختصاصی </b></a>
                                </li>
                                <li><a href="../Cardboard-Box">جعبه مقوایی</a></li>
                                <li><a href="../Hard-Box">هارد باکس</a></li>
                                <li>
                                    <a class="title" href="../Packaging-Paper"><b>کاغذ بسته بندی و لیبل</b> </a>
                                </li>



                                <li>
                                    <a class="title" href="../Ribbon"><b>چاپ روی روبان </b></a>
                                </li>
                                <li><a href="../Satin">ساتن</a></li>
                                <li><a href="../Match-Tape">نوار گلو(کبریتی)</a></li>
                                <li><a href="../Cloth-Brand">مارک لباس</a></li>


                                <li>
                                    <a class="title" href="../Postal-Envelope"><b>پاکت پستی </b></a>
                                </li>



                                <li>
                                    <a class="title" href="../Office-Set"><b>ست اداری</b> </a>
                                </li>
                                <li><a href="../Letter-Pocket">پاکت نامه</a></li>
                                <li><a href="../Folder">فولدر</a></li>
                                <li><a href="../Visit-Card">کارت ویزیت</a></li>
                                <li><a href="../Thanks-Card">کارت تشکر</a></li>
                                <li><a href="../Hanging-Card">کارت آویز</a></li>
                                <li><a href="../Tract">تراکت و بروشور</a></li>

                                <li><a href="../Catalog">کاتالوگ</a></li>
                                <li><a href="../Hologram">هولوگرام</a></li>

                                <li>
                                    <a class="title" href="../Logo-Design"><b>طراحی لوگو</b> </a>
                                </li>


                                <li>
                                    <a class="title" href="../ساک-خرید-طلا-فروشی"><b>پک طلا و جواهر</b> </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-top-menu-link-a fw-bold-hover" href="../Ready-Shopping-Bag">
                                محصولات آماده
                            </a>
                            <ul class="list-unstyled shadow-lg back-menu sub-menu mega-container"
                                style="background: #fff url('../assets/img/ساک-خرید-کاغذی-فروشگاهی.jpg') no-repeat;background-size: 300px !important;">
                                <li><a class="title" href="../Ready-Paper-Shopping-Bag"><b>ساک خرید آماده دستی</b></a></li>
                                <li><a class="title" href="../Ready-Glossy-Shopping-Bag"><b>ساک خرید آماده گلاسه</b></a></li>


                                <li>
                                    <a class="title" href="../Ready-Kraft-Shopping-Bag"><b>ساک خرید آماده کرافت</b></a>
                                </li>

                                <li>
                                    <a class="title" href="../Ready-Box"><b>جعبه آماده</b></a>
                                </li>


                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-top-menu-link-a fw-bold-hover " href="../Blog/">
                                مجله پدیده
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link header-top-menu-link-a fw-bold-hover " href="../Recruitments/">
                                اخذ نمایندگی و استخدام
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-top-menu-link-a fw-bold-hover " href="../FAQ/">
                                سئوالات متداول
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-top-menu-link-a fw-bold-hover " href="../AboutUs/">
                                درباره ما
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header-top-menu-link-a fw-bold-hover " href="../ContactUs/">
                                تماس با ما
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end mega menu -->


    <div class="bread-crumb py-4">
        <div class="container-fluid">
            <nav aria-label="breadcrumb" class="my-lg-0 my-2">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href=".." class="font-14 text-muted-two">خانه</a></li>

                    <li class="breadcrumb-item"><a href="../@ViewBag.Branchstr " class="font-14 text-muted-two">@ViewBag.Branchstr</a></li>

                </ol>
            </nav>
        </div>
    </div>

    <!-- start bread-crumb -->
    <!-- start content -->

    <div class="content">


        <!-- start filter in mobile -->
        <div class="custom-filter d-lg-none d-block">
            <button class="btn btn-filter-float border-0 main-color-two-bg shadow-box px-3 rounded-3 position-fixed"
                    style="z-index: 999;bottom:80px;" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <i class="bi bi-funnel font-20 fw-bold text-white"></i>
                <span class="d-block font-14 text-white">فیلتر</span>
            </button>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRight"
                 aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <p class="offcanvas-title" id="offcanvasRightLabel1">فیلتر ها</p>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="filter-items position-sticky shadow-none top-0">
                        <div class="container-fluid">

                            <div class="filter-item">
                                <p class="filter-item-title">دسته بندی ها</p>
                                <div class="filter-item-content">
                                    <form action="">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                            <div class="form-check">
                                                <label for="colorCheck11" class="form-check-label">

                                                    <a href="../Glossy-Shopping-Bag">ساک خرید گلاسه کاغذی</a>
                                                </label>

                                            </div>
                                            <div>
                                                <span class="fw-bold font-14"></span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                            <div class="form-check">
                                                <label for="colorCheck11" class="form-check-label">

                                                    <a href="../Kraft-Shopping-Bag">ساک خرید کرافت کاغذی</a>
                                                </label>

                                            </div>
                                            <div>
                                                <span class="fw-bold font-14"></span>
                                            </div>
                                        </div>


                                        <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                            <div class="form-check">
                                                <label for="colorCheck55" class="form-check-label">

                                                    <a href="../Fabric-Shopping-Bag"> ساک خرید پارچه ای</a>
                                                </label>

                                            </div>
                                            <div>
                                                <span class="fw-bold font-14"></span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                            <div class="form-check">
                                                <label for="colorCheck44" class="form-check-label">

                                                    <a href="../Promotional-Nylon">ساک خرید نایلونی </a>
                                                </label>

                                            </div>
                                            <div>
                                                <span class="fw-bold font-14"></span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                            <div class="form-check">
                                                <label for="colorCheck33" class="form-check-label">
                                                    <a href="../Exclusive-Box"> جعبه اختصاصی </a>
                                                </label>

                                            </div>
                                            <div>
                                                <span class="fw-bold font-14"></span>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end filter mobile -->
        <!-- start product meta -->



        <div class="main-slider row gy-4">

            @RenderBody()


        </div>






        <div class="content-box">
            <div class="container-fluid">
                <div class="product-desc-content">
                    <input class="read-more-state" id="readMore3" type="checkbox">

                    <div class="read-more-wrap">
                        <h1 class=" mb-2 title-line-bottom"><strong>@ViewBag.Title1</strong></h1>
                        <p class="mb-0 mt-2 text-muted">
                            @ViewBag.Completedescription1
                        </p>


                        @Html.Raw(ViewBag.Completedescription)



                        <div class="product-box-size pro-var-responsive">
                            <p class="font-16 my-2">
                                پدیده بگ 🛍️ ساک خرید آماده
                            </p>
                            <ul>
                                <li><a href="../@ViewBag.Keywords1" target="_blank">@ViewBag.Keywords1</a></li>
                                <li><a href="../@ViewBag.Keywords2" target="_blank">@ViewBag.Keywords2</a></li>
                                <li><a href="../@ViewBag.Keywords3" target="_blank">@ViewBag.Keywords3</a></li>
                                <li><a href="../@ViewBag.Keywords4" target="_blank">@ViewBag.Keywords4</a></li>
                                <li><a href="../@ViewBag.Keywords5" target="_blank">@ViewBag.Keywords5</a></li>


                            </ul>
                        </div>

                        <span>اشتراک گذاری: </span>
                        <nav class="navbar navbar-expand">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="https://www.facebook.com/sharer/sharer.php?u=@Url.Encode(Request.Url.ToString())" class="nav-link text-muted-two"><i class="bi bi-instagram"></i></a></li>
                                <li class="nav-item"><a href="https://api.whatsapp.com/send?text=@Url.Encode(Request.Url.ToString())" class="nav-link text-muted-two"><i class="bi bi-telephone"></i></a></li>
                                <li class="nav-item"><a href="https://plus.google.com/share?url=@Url.Encode(Request.Url.ToString())" class="nav-link text-muted-two"><i class="bi bi-envelope-at"></i></a></li>

                                <li class="nav-item"><a href="https://www.linkedin.com/sharing/share-offsite/?text=@Url.Encode(Request.Url.ToString())" class="nav-link text-muted-two"><i class="bi bi-linkedin"></i></a></li>
                                <li class="nav-item"><a href="https://twitter.com/intent/tweet?url=@Url.Encode(Request.Url.ToString())" class="nav-link text-muted-two"><i class="bi bi-twitter"></i></a></li>
                            </ul>
                        </nav>





                    </div>
                </div>
            </div>
        </div>





    </div>

    <!-- end content -->
    <!-- start footer -->

    <footer class="footer py-40 bg-white">
        <div class="container-fluid">
            <div class="row gy-4">
                <div class="col-lg-3 col-md-6 order-lg-1 order-2 footer-item">
                    <div class="footer-main-links">
                        <div class="row">
                            <div class="col-6">
                                <ul class="navbar-nav">
                                    <li class="nav-item"><a href="../Exclusive-Shopping-Bag" class="nav-link">ساک خرید کاغذی اختصاصی</a></li>
                                    <li class="nav-item"><a href="../Fabric-Shopping-Bag" class="nav-link">ساک پارچه ای</a></li>
                                    <li class="nav-item"><a href="../Ready-Glossy-Shopping-Bag" class="nav-link">ساک خرید گلاسه آماده</a></li>
                                    <li class="nav-item"><a href="../Ready-Kraft-Shopping-Bag" class="nav-link">ساک خرید کاغذی آماده</a></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="navbar-nav">
                                    <li class="nav-item"><a href="../Ready-Box" class="nav-link">جعبه آماده</a></li>
                                    <li class="nav-item"><a href="../Sewn-Shopping-Bag" class="nav-link">ساک پارچه ای دوختی </a></li>
                                    <li class="nav-item"><a href="../AboutUs" class="nav-link">درباره ما</a></li>
                                    <li class="nav-item"><a href="../ContactUs" class="nav-link">تماس با ما</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-2 order-1 footer-item">
                    <div class="footer-logo">
                        <a href="../ContactUs/">
                            <img alt="پدیده بگ,تولید ساک خرید,شاپینگ بگ" src="../assets/img/logo.png">
                        </a>
                    </div>
                    <div class="footer-logo-desc">
                        <p class="text-muted mb-0 text-justify">
                            پدیده بگ تولید و ساخت انواع ساک خرید اختصاصی,ساک خرید کاغذی آماده,ساک خرید دستی کرافت,چاپ ساک دستی پلاستیکی,ساک خرید پلاستیکی,ساک خرید دستی پارچه ای,ساک دستی کاغذی کارتی,بند ساک دستی
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 order-3">
                    <div class="footer-calls d-md-block d-none">
                        <div class="d-flex footer-call justify-content-end">
                            <div class="footer-contact-right">
                                <a href="tel:02177622674">
                                    <p style="line-height: 1" class="text-end pb-3 fw-lighter mb-0 text-muted-two">021</p>
                                    <p style="line-height: 0" class="title-font mt-0 text-end">77622674</p>
                                </a>
                                <div class="text-end">
                                    <span class="badge main-color-two-bg mt-3 rounded-0">تهران</span>
                                </div>
                            </div>
                            <div class="panel-meta-item-icon main-color-three-bg ms-3 footer-contact-left">
                                <i class="bi bi-telephone"></i>
                            </div>
                        </div>
                        <div class="d-flex footer-call mt-2 justify-content-end">
                            <div class="footer-contact-right">
                                <a href="tel:02177622675">
                                    <p style="line-height: 2" class="text-end fw-lighter mb-0 text-muted-two">021</p>
                                    <p style="line-height: 0" class="title-font mt-0 text-end">77622675</p>
                                </a>
                                <div class="text-end">
                                    <span class="badge main-color-two-bg mt-3 rounded-0">پدیده بگ</span>
                                </div>
                            </div>
                            <div class="panel-meta-item-icon main-color-three-bg ms-3 footer-contact-left">
                                <i class="bi bi-telephone"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 order-4">
                    <div class="footer-rss-notifi pt-md-5">
                        <div class="footer-rss">

                            <div class="footer-rss-title-parent">
                                <div class="footer-rss-icon">
                                    <i class="bi bi-envelope-at"></i>
                                </div>
                                <div class="footer-rss-title">
                                    <p class="title-font">خبرنامه</p>
                                    <p class="mb-0">دریافت اطلاع رسانی جدیدترین محصولات</p>
                                </div>
                            </div>
                            <div class="footer-calls d-md-none d-flex">
                                <div class="d-flex footer-call justify-content-end">
                                    <div class="footer-contact-right">
                                        <a href="tel:02177622674">
                                            <p style="line-height: 1" class="text-end pb-3 fw-lighter mb-0 text-muted-two">021</p>
                                            <p style="line-height: 0" class="title-font mt-0 text-end">77622674</p>
                                        </a>
                                        <div class="text-end">
                                            <span class="badge main-color-two-bg mt-3 rounded-0">تهران</span>
                                        </div>
                                    </div>
                                    <div class="panel-meta-item-icon main-color-three-bg ms-3 footer-contact-left">
                                        <i class="bi bi-telephone"></i>
                                    </div>
                                </div>
                                <div class="d-flex footer-call mt-2 justify-content-end">
                                    <div class="footer-contact-right">
                                        <a href="tel:02177622675">
                                            <p style="line-height: 2" class="text-end fw-lighter mb-0 text-muted-two">021</p>
                                            <p style="line-height: 0" class="title-font mt-0 text-end">77622675</p>
                                        </a>
                                        <div class="text-end">
                                            <span class="badge main-color-two-bg mt-3 rounded-0">پدیده بگ</span>
                                        </div>
                                    </div>
                                    <div class="panel-meta-item-icon main-color-three-bg ms-3 footer-contact-left">
                                        <i class="bi bi-telephone"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="footer-form">
                            <form action="">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control rounded-0 py-3 footer-form-txt" placeholder="شماره تماس خود را وارد کنید">
                                    <button type="submit" class="btn main-color-two-bg rounded-0 border-0">عضویت</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-12 order-6">
                    <div class="footer-copy-right pt-3 d-flex justify-content-between align-items-center">

                        <p class="font-16 my-4">کلیه حقوق این سایت متعلق به <span class="fw-bold">پدیده بگ</span> می باشد</p>

                        <div clss="color: #fff;">
                            <a href="https://seo-it.ir"> طراحی سایت و سئو</a>
                        </div>


                        <div class="footer-contact-link text-center">
                            <a href="#" role="button" class="btn main-color-one-bg rounded-0 shadow-none" onclick="topFunction()"><i class="bi bi-chevron-up"></i></a>
                        </div>
                        <nav class="navbar navbar-expand">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="https://instagram.com/padidehbags" class="nav-link text-muted-two"><i class="bi bi-instagram"></i></a></li>
                                <li class="nav-item"><a href="https://youtube.com/padidehbags" class="nav-link text-muted-two"><i class="bi bi-youtube"></i></a></li>
                                <li class="nav-item"><a href="https://Facebook.com/padidehbags" class="nav-link text-muted-two"><i class="bi bi-envelope-at"></i></a></li>
                                <li class="nav-item"><a href="https://twitter.com/PadidehBags" class="nav-link text-muted-two"><i class="bi bi-twitter"></i></a></li>
                                <li class="nav-item"><a href="https://www.linkedin.com/in/padideh-bags-450a212aa/" class="nav-link text-muted-two"><i class="bi bi-linkedin"></i></a></li>
                                <li class="nav-item"><a href="https://t.me/padidehbagss" class="nav-link text-muted-two"><i class="bi bi-telegram"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- end footer -->


    <div class="mobile-footer d-lg-none d-table justify-content-center shadow-box bg-white position-fixed bottom-0 p-2 w-100" style="z-index: 100;table-layout: fixed;">
        <ul class="d-table-row">
            <li class="d-table-cell pointer" onclick="topFunction()">
                <div class="mf-link nav-link text-center">
                    <span class="d-block mf-link-icon"><i class="bi bi-chevron-up font-20"></i></span>
                    <span class="mt-1 font-12 fw-bold mf-link-title">بالا</span>
                </div>
            </li>

            <li class="d-table-cell">
                <a href=".." class="mf-link nav-link text-center">
                    <span class="d-block mf-link-icon"><i class="bi bi-house font-20"></i></span>
                    <span class="mt-1 font-12 fw-bold mf-link-title">صفحه اصلی</span>
                </a>
            </li>

            <li class="d-table-cell">
                <a class="mf-link nav-link text-center" data-bs-toggle="modal" href="../ContactUs/" role="button" aria-controls="cart canvas">
                    <div class="position-relative mf-link-icon d-table mx-auto">
                        <span class="d-block mf-link-icon"><i class="bi bi-telephone font-20"></i></span>
                    </div>
                    <span class="mt-1 font-12 fw-bold mf-link-title">تماس با ما</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- end mobile bottom menu -->

    <div class="float-btn">
        <div class="container-fluid">
            <!-- contact us floating -->
            <div class=" btn_collapzion" id="btncollapzion"></div>
            <div class="" id="contactOverlay"></div>
            <!-- end contact us floating -->
        </div>
    </div>


    <script src="../assets/js/vendor/jquery-3.7.1.min.js"></script>
    <script src="../assets/js/vendor/bootstrap.bundle-5.3.2.min.js"></script>



    <script src="../assets/js/plugin/rasta-contact/script.js"></script>

    <script src="../assets/js/main.js"></script>


</body>

</html>

