

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>پدیده بگ </title>

    <meta name="description" content="with draggable and editable events" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>




    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/assetsAdmin/css/bootstrap.min.css" />


    <link rel="stylesheet" href="~/assetsAdmin/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="~/assetsAdmin/css/jquery-ui.custom.min.css" />


    <!-- text fonts -->
    <link rel="stylesheet" href="~/assetsAdmin/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/assetsAdmin/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />




    <link rel="stylesheet" href="~/assetsAdmin/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/assetsAdmin/css/ace-rtl.min.css" />


    <script src="~/assetsAdmin/js/ace-extra.min.js"></script>





    <link href="http://cdn.kendostatic.com/2018.1.221/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2018.1.221/styles/kendo.default.min.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>


    <script src="~/js/JalaliDate.js"></script>

    <script src="~/js/kendo.web.js"></script>
    <script src="~/js/fa-IR.js"></script>
    <script src="~/js/kendo.calendar.fa.js"></script>
    <script src="~/js/kendo.datepicker.fa.js"></script>





  

    <script src="~/Scripts/tinymce/tinymce.min.js"  referrerpolicy="origin"></script>


</head>

<body class="no-skin rtl">
    <div id="navbar" class="navbar navbar-default          ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
        

            <div class="navbar-header pull-left">
                <a href="../Admin/Default" class="navbar-brand">
                    <small>
                        <i class="fa fa-asterisk"></i>
                        Padideh Bags
                    </small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
              

               

               
                   
                </ul>
            </div>
        </div><!-- /.navbar-container -->
    </div>

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>

      

        <div class="main-content">
            <div class="main-content-inner">


                <div class="page-content">
                    <div class="breadcrumbs ace-save-state" id="breadcrumbs">

                        <button class="btn btn-app btn-inverse btn-xs" onclick="location.href ='@Url.Action("Default", "../Admin")'">
                            <i class="ace-icon fa fa-home bigger-160"></i>
                            <span class="badge badge-success">@Session["Memorytedad"]</span>
                            داشبورد

                        </button>

                        <button class="btn btn-app btn-inverse btn-xs" onclick="location.href ='@Url.Action("MngProcesses", "../Admin")'">
                            <i class="ace-icon fa fa-credit-card bigger-160"></i>
                            <span class="badge badge-success">@Session["Memorytedad"]</span>
                          سفارش

                        </button>

                        <button class="btn btn-app btn-inverse btn-xs" onclick="location.href ='@Url.Action("Customers", "../Admin")'">
                            <i class="ace-icon fa fa-male bigger-160"></i>
                            <span class="badge badge-success"></span>

                            مشتری

                        </button>

                        <button class="btn btn-app btn-inverse btn-xs" onclick="location.href ='@Url.Action("MngJobs/ShowRep", "../Admin")'">
                            <i class="ace-icon fa fa-pie-chart bigger-160"></i>
                            <span class="badge badge-success"></span>

                            کار

                        </button>
                        <button class="btn btn-app btn-inverse btn-xs" onclick="location.href ='@Url.Action("Defualt", "../Login")'">
                            <i class="ace-icon fa fa-external-link bigger-160"></i>


                            خروج

                        </button>







                    </div>


                    @*<div class="ace-settings-container" id="ace-settings-container">
            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                <i class="ace-icon fa fa-cog bigger-130"></i>
            </div>

            <div class="ace-settings-box clearfix" id="ace-settings-box">
                <div class="pull-left width-50">
                    <div class="ace-settings-item">
                        <div class="pull-left">
                            <select id="skin-colorpicker" class="hide">
                                <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                            </select>
                        </div>
                        <span>&nbsp; Choose Skin</span>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
                        <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
                        <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
                        <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
                        <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
                        <label class="lbl" for="ace-settings-add-container">
                            Inside
                            <b>.container</b>
                        </label>
                    </div>
                </div><!-- /.pull-left -->

                <div class="pull-left width-50">
                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
                        <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
                        <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                    </div>

                    <div class="ace-settings-item">
                        <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
                        <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                    </div>
                </div><!-- /.pull-left -->
            </div><!-- /.ace-settings-box -->
        </div><!-- /.ace-settings-container -->*@


                    @RenderBody()




                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">Padideh</span>
                        Bags 2023-2024
                    </span>

                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>

                        <a href="https://www.facebook.com/profile.php?id=100092705385547">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
  
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='assetsAdmin/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/assetsAdmin/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->
    <script src="~/assetsAdmin/js/jquery-ui.custom.min.js"></script>
    <script src="~/assetsAdmin/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assetsAdmin/js/moment.min.js"></script>
    <script src="~/assetsAdmin/js/fullcalendar.min.js"></script>
    <script src="~/assetsAdmin/js/bootbox.js"></script>

    <!-- ace scripts -->
    <script src="~/assetsAdmin/js/ace-elements.min.js"></script>
    <script src="~/assetsAdmin/js/ace.min.js"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {

            /* initialize the external events
                -----------------------------------------------------------------*/

            $('#external-events div.external-event').each(function () {

                // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                // it doesn't need to have a start or end
                var eventObject = {
                    title: $.trim($(this).text()) // use the element's text as the event title
                };

                // store the Event Object in the DOM element so we can get to it later
                $(this).data('eventObject', eventObject);

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });




            /* initialize the calendar
            -----------------------------------------------------------------*/

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();


            var calendar = $('#calendar').fullCalendar({
                //isRTL: true,
                //firstDay: 1,// >> change first day of week

                buttonHtml: {
                    prev: '<i class="ace-icon fa fa-chevron-left"></i>',
                    next: '<i class="ace-icon fa fa-chevron-right"></i>'
                },

                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: [
                    {
                        title: 'All Day Event',
                        start: new Date(y, m, 1),
                        className: 'label-important'
                    },
                    {
                        title: 'Long Event',
                        start: moment().subtract(5, 'days').format('YYYY-MM-DD'),
                        end: moment().subtract(1, 'days').format('YYYY-MM-DD'),
                        className: 'label-success'
                    },
                    {
                        title: 'Some Event',
                        start: new Date(y, m, d - 3, 16, 0),
                        allDay: false,
                        className: 'label-info'
                    }
                ]
                ,

                /**eventResize: function(event, delta, revertFunc) {

                    alert(event.title + " end is now " + event.end.format());

                    if (!confirm("is this okay?")) {
                        revertFunc();
                    }

                },*/

                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar !!!
                drop: function (date) { // this function is called when something is dropped

                    // retrieve the dropped element's stored Event Object
                    var originalEventObject = $(this).data('eventObject');
                    var $extraEventClass = $(this).attr('data-class');


                    // we need to copy it, so that multiple events don't have a reference to the same object
                    var copiedEventObject = $.extend({}, originalEventObject);

                    // assign it the date that was reported
                    copiedEventObject.start = date;
                    copiedEventObject.allDay = false;
                    if ($extraEventClass) copiedEventObject['className'] = [$extraEventClass];

                    // render the event on the calendar
                    // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }

                }
                ,
                selectable: true,
                selectHelper: true,
                select: function (start, end, allDay) {

                    bootbox.prompt("New Event Title:", function (title) {
                        if (title !== null) {
                            calendar.fullCalendar('renderEvent',
                                {
                                    title: title,
                                    start: start,
                                    end: end,
                                    allDay: allDay,
                                    className: 'label-info'
                                },
                                true // make the event "stick"
                            );
                        }
                    });


                    calendar.fullCalendar('unselect');
                }
                ,
                eventClick: function (calEvent, jsEvent, view) {

                    //display a modal
                    var modal =
                        '<div class="modal fade">\
                          <div class="modal-dialog">\
                           <div class="modal-content">\
                             <div class="modal-body">\
                               <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px;">&times;</button>\
                               <form class="no-margin">\
                                  <label>Change event name &nbsp;</label>\
                                  <input class="middle" autocomplete="off" type="text" value="' + calEvent.title + '" />\
                                 <button type="submit" class="btn btn-sm btn-success"><i class="ace-icon fa fa-check"></i> Save</button>\
                               </form>\
                             </div>\
                             <div class="modal-footer">\
                                <button type="button" class="btn btn-sm btn-danger" data-action="delete"><i class="ace-icon fa fa-trash-o"></i> Delete Event</button>\
                                <button type="button" class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Cancel</button>\
                             </div>\
                          </div>\
                         </div>\
                        </div>';


                    var modal = $(modal).appendTo('body');
                    modal.find('form').on('submit', function (ev) {
                        ev.preventDefault();

                        calEvent.title = $(this).find("input[type=text]").val();
                        calendar.fullCalendar('updateEvent', calEvent);
                        modal.modal("hide");
                    });
                    modal.find('button[data-action=delete]').on('click', function () {
                        calendar.fullCalendar('removeEvents', function (ev) {
                            return (ev._id == calEvent._id);
                        })
                        modal.modal("hide");
                    });

                    modal.modal('show').on('hidden', function () {
                        modal.remove();
                    });


              

                }

            });


        })
    </script>






</body>
</html>

