@model CRM.Models.Recruitment

@{
    ViewBag.Title = "پدیده بگ -تولید ساک خرید";
  Layout = "~/Views/Shared/_LayoutSigleForm.cshtml";


}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<h1>
    🛍️تولید انواع ساک دستی کاغذی و شاپینگ بگ
</h1>
    <div class="form-horizontal">
        <p>استخدام</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p>شغل مورد نظر شما</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.JobPosition, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.JobPosition, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>نام و نام خانوادگی</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameFamily, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameFamily, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>سال تولد</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.BornDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BornDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>تلفن</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>موبایل</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>تحصیلات</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.EducationLevel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EducationLevel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>وضعیت تاهل</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MarriedSingle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MarriedSingle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>آدرس</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="btn btn-primary font-weight-semi-bold px-4">
                <input type="submit" value="ثبت" class="btn btn-default" />
            </div>
        </div>
    </div>
}

