@model CRM.Areas.Admin.Models.Process

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_layotAdmin.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">


        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.typeOrder, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.typeOrder, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.typeOrder, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>


        <input type="button" class="btn btn-grey"
               value="ویرایش"
               onclick="location.href = '@Url.Action("Change_jobStatus", "MngProcesses")?data1=' + document.getElementById('typeOrder').value+ '&data2=' + document.getElementById('Title').value " />



    </div>
}

<div>
    @Html.ActionLink("بازگشت", "Index")
</div>
