@model CRM.Areas.Admin.Models.Definition

@{
    ViewBag.Title = "Details";
     Layout = "~/Areas/Admin/Views/Shared/_layotAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Definition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DefTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DefID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
