@model IEnumerable<CRM.Models.Content>

@{

    Layout = "~/Views/Shared/_LayoutProductForm.cshtml";
}


<div class="blog-single-title content-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-9">
                <h1 class="h3 title-font">@ViewBag.Titlemain</h1>

                <div class="bread-crumb blog-single-title-bread py-4">
                    <nav aria-label="breadcrumb" class="my-lg-0 my-2">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href=".." class="font-14 text-white">خانه</a></li>
                            <li class="breadcrumb-item"><a href="/Blog" class="font-14 text-white">وبلاگ</a></li>
                         
                            <li class="breadcrumb-item active main-color-one-color font-14 fw-bold" aria-current="page">
                                ساک خرید اختصاصی
                            </li>
                        </ol>
                    </nav>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="blog-single-title-thumbnail">
                    <img src="~/img/@ViewBag.MainPicture" class="img-thumbnail rounded-0" alt="@ViewBag.Keywords">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-single-contents">
    <div class="container-fluid">
        <div class="row gy-4">
            <div class="col-lg-9">
                <div class="content-box">
                    <div class="container-fluid">
                        <div class="blog-single-content-meta">

                            <div class="blog-content-meta-detail">
                                <div class="row gy-4">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="blog-content-meta-detail-item">
                                            <i class="bi bi-stack"></i>
                                            <h6>دسته بندی: </h6>
                                            <a href="../@ViewBag.Branchstr">@ViewBag.Branchstr</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="blog-content-meta-detail-item">
                                            <i class="bi bi-clock"></i>
                                            <h6>زمان مطالعه: </h6>
                                            <span>3 دقیقه</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="blog-content-meta-detail-item">
                                            <i class="bi bi-calendar-check"></i>
                                            <h6>آخرین بروزرسانی: </h6>
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="blog-content-meta-detail-item">
                                            <i class="bi bi-send"></i>
                                            <h6>نظرات: </h6>
                                            <a href="">17 نظر</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="blog-single-content">
                            <div class="pweb_product_content">
                                @Html.Raw(ViewBag.Completedescription)
                                <ul>
                                    <li class="mb-4"><strong class="h6">پدیده بگ:</strong>@ViewBag.Completedescription1</li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="position-sticky top-0">
                    <div class="card blog-card shadow-box mb-4">
                        <div class="card-header">
                            <h5 class="">دسته بندی مطالب</h5>
                        </div>
                        <div class="card-body pb-0">
                            <div class="blog-card-items">
                                <nav class="navbar w-100 py-0">
                                    <ul class="navbar-nav w-100">
                                        <li class="nav-item">
                                            <a href="../Handy-Shopping-Bag" class="nav-link mct-hover">ساک خرید  <span>3</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="../Shopping-Bag" class="nav-link mct-hover">شاپینگ بگ<span>3</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="../Glossy-Shopping-Bag" class="nav-link mct-hover">ساک دستی گلاسه<span>3</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="../Plastic-Shopping-Bag" class="nav-link mct-hover">ساک دستی پلاستیکی<span>3</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="../Fabric-Shopping-Bag" class="nav-link mct-hover">ساک دستی پارچه ای<span>3</span></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <div class="card blog-card shadow-box mb-4">
                        <div class="card-header">
                            <h5 class="">آخرین مطالب</h5>
                        </div>
                        <div class="card-body pb-0">

                            <nav class="navbar">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a href="" class="nav-link">
                                            <div class="mini-blog-item">
                                                <div class="image">
                                                    <img src="assets/img/category/1-1.jpg" class="img-fluid" alt="">
                                                </div>
                                                <div class="d-flex align-items-start desc flex-wrap flex-column justify-content-between">
                                                    <h6 class="title mct-hover">ساک پارچه ای</h6>
                                                    <div class="d-flex align-items-center">
                                                        <p class="text-muted mb-0">17 دی ماه 1402</p>
                                                        <div class="text-end ms-2"><i class="bi bi-arrow-left main-color-one-color"></i></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">
                                            <div class="mini-blog-item">
                                                <div class="image">
                                                    <img src="assets/img/category/2-1.jpg" class="img-fluid" alt="">
                                                </div>
                                                <div class="d-flex align-items-start desc flex-wrap flex-column justify-content-between">
                                                    <h6 class="title mct-hover">ساک دستی گلاسه</h6>
                                                    <div class="d-flex align-items-center">
                                                        <p class="text-muted mb-0">17 دی ماه 1402</p>
                                                        <div class="text-end ms-2"><i class="bi bi-arrow-left main-color-one-color"></i></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">
                                            <div class="mini-blog-item">
                                                <div class="image">
                                                    <img src="assets/img/category/3-1.jpg" class="img-fluid" alt="">
                                                </div>
                                                <div class="d-flex align-items-start desc flex-wrap flex-column justify-content-between">
                                                    <h6 class="title mct-hover">ساک دستی پارچه ای</h6>
                                                    <div class="d-flex align-items-center">
                                                        <p class="text-muted mb-0">17 دی ماه 1402</p>
                                                        <div class="text-end ms-2"><i class="bi bi-arrow-left main-color-one-color"></i></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="" class="nav-link">
                                            <div class="mini-blog-item">
                                                <div class="image">
                                                    <img src="assets/img/category/5-1.jpg" class="img-fluid" alt="">
                                                </div>
                                                <div class="d-flex align-items-start desc flex-wrap flex-column justify-content-between">
                                                    <h6 class="title mct-hover">بگ دستی کرافت</h6>
                                                    <div class="d-flex align-items-center">
                                                        <p class="text-muted mb-0">17 دی ماه 1402</p>
                                                        <div class="text-end ms-2"><i class="bi bi-arrow-left main-color-one-color"></i></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>

                 
                </div>

            </div>
        </div>
    </div>
</div>

<div class="blog-single-comment-items mt-4">
    <div class="container-fluid">
        <div class="content-box">
            <div class="container-fluid">

                <h6 class="font-26 mb-3 title-font title-line-bottom">نظرات:</h6>

                <div class="box_users_comment mt-3 p-4">
                    <div class="box_comment_header">
                        <span class="span1">پدیده بگ ساخت انواع ساک خرید</span>
                        <div class="d-flex align-items-center mt-3">
                            <img src="assets/img/user.png" alt="" width="50" class="me-3">
                            <span class="span2 d-block">
                                مسلم ابراهیمی :
                            </span>
                        </div>
                    </div>
                    <div class="border-bottom mt-3"></div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <p class="box_text_comment">
                                قبلا با مجموعه پدیده بگ کار کردم و سفارش دادم، از همه نظر عالی هستند
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-12">
                            <div class="comments_likes">
                                <span class="mr-4 mt-1">
                                    ایا این نظر برایتان مفید بود ؟
                                </span>
                                <a class="btn btn-like btn-like-like mt-1 mt-md-0 ms-2" href="#"><i class="bi bi-hand-thumbs-up"></i> 70</a>
                                <a class="btn btn-like btn-like-dislike mt-1 mt-md-0" href="#"> <i class="bi bi-hand-thumbs-down"></i> 0</a>
                            </div>
                        </div>

                    </div>
                </div>

               
            </div>
        </div>
    </div>
</div>

<div class="blog-single-comment mt-4">
    <div class="container-fluid">
        <div class="content-box">
            <div class="container-fluid">
                <div class="comment-model-form pt-3">

                    <div class="row gy-4">
                        <div class="col-12">
                            <form action="">
                                <div class="row gy-3">
                                    <div class="col-12">
                                        <h6 class="font-26 mb-3 title-font title-line-bottom">
                                            نظرت در مورد این مطلب
                                            چیه؟
                                        </h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="comment-item">
                                            <input type="email" class="form-control" id="floatingInputEmail1">
                                            <label for="floatingInputEmail1" class="form-label label-float">
                                                ایمیل خود را وارد
                                                کنید
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="comment-item">
                                            <input type="text" class="form-control" id="floatingInputName">
                                            <label for="floatingInputName" class="form-label label-float">
                                                نام خود را وارد
                                                کنید
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="comment-item d-flex align-items-center mb-3">
                                            <input type="checkbox" class="form-check-input" id="rememberComment">
                                            <label for="rememberComment" class="form-check-label d-block">
                                                ذخیره
                                                نام، ایمیل و وبسایت من در مرورگر برای زمانی که
                                                دوباره
                                                دیدگاهی می‌نویسم.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="commentRating" class="">
                                                امتیاز
                                                شما
                                            </label>
                                            <fieldset id="commentRating" class="rating mt-3">
                                                <input type="radio" id="star5" name="rating" value="5" required="">
                                                <label for="star5">5 stars</label>
                                                <input type="radio" id="star4" name="rating" value="4" required="">
                                                <label for="star4">4 stars</label>
                                                <input type="radio" id="star3" name="rating" value="3" required="">
                                                <label for="star3">3 stars</label>
                                                <input type="radio" id="star2" name="rating" value="2" required="">
                                                <label for="star2">2 stars</label>
                                                <input type="radio" id="star1" name="rating" value="1" required="">
                                                <label for="star1">1 star</label>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="comment-item">
                                            <textarea class="form-control" id="floatingTextarea2" style="height: 150px"></textarea>
                                            <label for="floatingTextarea2" class="form-label label-float">متن نظر!</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn-flat dark lg">ثبت نظر</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
